body {
    padding: 0;
    margin: 0;
}

h2 {
    height: 5rem;
    background-color: rgb(248, 33, 33);
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para listas desplegables */
details {
    margin-bottom: 0.9rem;
}

summary {
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
}

/* Contenedor principal */
.catalogo {
    display: flex;
    justify-content: flex-start;
    padding: 1.5rem;
    margin: 3.5rem;
    background-color: #f0e7e7;
}

/* Estilos para filtros */
.filtro {
    position: sticky;
    top: 1.2rem;
    width: 15%;
    padding: 0.8rem;
    box-shadow: 0 0 10px rgba(196, 181, 181, 0.1);
    margin-right: 1rem;
    display: block;
}

.filtro label {
    display: block;
    margin-bottom: 0.5rem;
}


/* Lista de relojes */
.lista-R {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 70%;
}

.watch-item {    
    padding: 0.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.reloj-titulo{
    font-weight: bold;
    text-align: justify;
    margin-bottom: 0.5rem;
}

.imagen-R    {
    border: 1px solid #080707;
    width: 100%;
    height: auto;
    margin-bottom: 0.8rem;
}

.marca {
    font-size: 0.8rem;
    color: #555;
}

.nombre {
    font-size: 0.8rem;
    font-weight: bold;
    text-align: justify;
    margin: 0.5px 0;
}

.tamano,
.material {
    font-size: 0.6rem;
    color: #777;
    text-align: justify;
    margin: 0.5rem 0;
}

.precio {
    font-size: 0.8rem;
    font-weight: bold;
    color: #333;
    text-align: justify;
    margin-top: 0.5rem;
}

.link {
    display: block;
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
}

.link:hover {
    background-color: #dfd2d2;
    cursor: pointer;
    transform: scale(1.01);
}

.reloj-pie {
    text-align: center;
    padding-top: 0.1rem;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 2rem;
    text-align: center;
}
