body {
    padding: 0;
    margin: 0;
    background-color: var(blanco);
}
.catalogo-main {
    background-color: var(blanco);
}
.titulo { font-family: Ghari;
    src: url(../fonts/TwCenMTStdSemiMedium.otf);
    font-weight: normal;
     height: 5rem;
     background-color: var(--principal);
     text-align: center;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
}
/* Estilo para listas desplegables */
details {
    margin-bottom: 0.9rem;
}
summary {
   
    cursor: pointer;
    font-size: 25px;
    padding: 10px;
    position: relative;
    cursor: pointer;
}
/* icono de desplazamiento */
summary::marker {
    display: none;
  }
  summary::after {
    content: "▼"; 
    margin-left: 4px;
    font-size: 10px;
    color: var(--principal);
  }
  details[open] summary::after {
    content: "▲"; 
    color: var(--principal);
  }
  /* Línea que aparece al hacer hover */
  summary:hover::before {
    content: "";
    display: block;
    width: 38%; 
    height: 1px; 
    background-color: var(--principal);
    position: absolute;
    bottom: -2px; 
  }
/* Contenedor principal */
.catalogo {
    display: flex;
    justify-content: flex-start;
    padding: 1.5rem;
    margin: 3.5rem; 
}
/* Estilos para filtros */
.filtro {
    position: sticky;
    top: 1.2rem;
    width: 15%;
    height: 100%;
    padding: 0.8rem;
    margin-right: 1rem;
    border: var(--lila-claro) solid 2px;
    display: block;
    font-size: 23px;
}
.filtro label {
    font-family: var(Ghari);
    display: block;
    margin-bottom: 0.5rem;
}
/* Lista de relojes */
.lista-R {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5rem;
    width: 70%;
}
.watch-item {    
    padding: 0.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.reloj-titulo{
    font-weight: bold;
    text-align: justify;
    margin-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}
.imagen-R {
    border: var(--lila-claro) solid 2px;
    width: 22rem; 
    height: 22rem; 
    object-fit: cover;    
}
.marca {
    font-size: 1rem;
    color: var(oscuro);
}
.nombre {
    color: var(--principal);
    font-size: 1rem;
    font-weight: bold;
    text-align: justify;
    margin: 0.5px 0;
}
.tamano,
.material {
    color: var(oscuro);
    font-size: 0.9rem;
    color: var(oscuro);
    text-align: justify;
    margin: 0.5rem 0;
}
.precio {
    font-size: 0.8rem;
    font-weight: bold;
    color: var(oscuro);
    text-align: justify;
    text-align: justify;
    margin-top: 0.5rem;
}
.link {
    display: block;
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
}
.link:hover {
    background-color: var(casi-blanco);
    cursor: pointer ;
    transform: scale(1.01);
}
.reloj-pie {
    text-align: center;
    padding-top: 0.1rem;
}