body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

h1 {
  color: #d83b3b;
  padding-left: 24rem;
  position: relative;
  top: 40px;
  }
h2{
padding-right: 10rem;
}

h3{
  padding-right: 12rem;
}
.inicio{
  padding-left: 24rem;
}

/* Contenedor principal */
.container {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
  flex-direction: row-reverse;
}
/* Estilo de login seccione*/
.login-section {
  flex: 1;
  padding: 30px;
  position: relative;
  left: 10rem;
}

#login-form{
  width:80%;
}

.login-section h2 {
  font-size: 24px;
  margin-top: 0;  /* Aligns h2 to the top */
  margin-bottom: 20px;
}

.login-section p {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}
/* registrar cuenta*/
.form-section {
  flex: 1;
  padding: 30px;
  position: relative;
  left: 2rem;
  padding-right: 10rem;
  bottom: 2rem;
}

/*botton registrate*/
.btn {
  display: inline-block;
  background-color: rgb(218, 34, 34);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  text-decoration: none;
}

.btn:hover {
  background-color: #d83b3b;
}
/* login input*/
input {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.forgot-password {
  color: #8a8484;
  text-decoration: none;
  font-size: 14px;
}

.forgot-password:hover {
  text-decoration: underline;
}

/* Ocultar elementos */
.hidden {
  display: none;
}

.register-form {
  flex: 1;
  margin-top: 20px;
}

/* Boton de iniciar */
.btn2{
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: rgb(218, 34, 34);
  text-align: center;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-color: #d83b3b;
}
.btn2.btn2:hover{
  background-color: #d83b3b;
}

/*registrar formulario*/
.form-section, .register-form {
  margin: 20px auto;
  text-align: center;
  max-width: 400px;
}

.hidden {
  display: none;
}
/*tablet*/
@media screen and (max-width: 1280px){

h1 {
  color: #d83b3b;
  padding-left:8rem;
  position: relative;
  top: 40px;
  }
  h2{
    padding-right: 1rem;
    }
  h3{
      padding-right: 3rem;
    }
  .inicio{
      padding-left: 8rem;
    }
  .login-section {
      flex: 1;
      padding: 30px;
      position: relative;
      left: 5rem;
    }
    
  .form-section {
      flex: 1;
      padding: 30px;
      position: relative;
      left:2rem;
      padding-right: 5rem;
      bottom: 2rem;
    }
}