
  /* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #5e5b5b;
}

/* Encabezado principal */
h1 {
  text-align: left;
  position: relative;
  left: 10%;
  color: #E53935; /* Color rojo del título */
  margin-left: 30px;
  margin-top: 20px;
}

/* Sección de descripción */
p {
  display: flex;
  position: relative;
  right: 5%;
  text-align: left;
  margin: 10px 20px;
  font-size: 16px;
  line-height: 1;
}
.text-left{
  text-align: left;
  position: relative;
  left: 10%;
  
}

/* Contenedor principal */
.container {
  display: flex;
  justify-content: space-around;
  margin: 30px ;
  max-width: 1200px;
  
}

/* Sección del formulario e información */
.contacto {
  width: 45%;
  padding: 170px;
  position: relative;
  bottom: 140px;
  
}


.form-section{
  width: 45%;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  bottom: 190px;
}


/* Formulario */
form {
  display: flex;
  flex-direction: column;
}

form input {
  margin: 10px 0;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

form input[type="massage"] {
  height: 80px;
  resize: none;
}

form button {
  background-color: #e60000;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

form button:hover {
  background-color: #cc0000;
}

p {
  text-align: center;
  padding: 15px;
  font-size: 0.9rem;
  background-color: #f9f9f9;
  color: #777;
}

.last-line{
  display: flex;
  justify-content: center;
  text-align: center;
  bottom: 20rem;
}

/* Responsivo */
@media (max-width: 1280px) {
  p {
    display: flex;
    position: relative;
    right: 5%;
    text-align: left;
    margin: 10px 20px;
    font-size: 16px;
    line-height: 1;
    position: relative;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  
  form input {
    margin: 10px 0;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  form input[type="massage"] {
    height: 80px;
    resize: none;
  }
  form button {
    background-color: #e60000;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
}
