.slider {
    width: 100%;
    /* min-height: 40rem; */
    /* border: solid green 2px; */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--blanco) ;
}

h2 {
    background-color: var(--principal);
    height: 5rem;
    width: 100%;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-1 img {
    width: 100%;
}

.nuevos-relojes {
    width: 85%;
    /* border: solid pink 2px; */
    min-height: 35rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.banners {
    flex-direction: row;
    justify-content: center;

}

.banners img {
    width: 49.89%;

}

/* .div-item {
    border: solid red 2px;

    width: 22%;
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-item h3 {
    width: 90%;
    text-align: left;
    padding-bottom: 0.5rem;
    
}

.div-item p {
    width: 90%;
    text-align: left;
    padding-bottom: 0.5rem;
}

.div-item span {
    width: 90%;
    text-align: left;
    padding-bottom: 0.5rem;
}

.div-item img {
    width: 80%;
    padding-bottom: 0.5rem;
    border: var(--lila-claro) solid 2px;
    padding: 1rem;
    margin: 1rem;;
} */
/* 
.link {
    display: block;
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
}

.link:hover {
    background-color: #dfd2d2;
    cursor: pointer;
    transform: scale(1.01);
} */

.div-item:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Relojes */
.div-item {    
    padding: 0.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    /* width: 20%; */
    overflow: hidden;
    
}

.reloj-titulo{
    font-weight: bold;
    text-align: justify;
    margin-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

.imagen-R {
    border: var(--lila-claro) solid 2px;
    width: 22rem; 
    height: 22rem; 
    object-fit:cover;    
    object-position: center center;
    margin: 0.5rem;
}
.marca {
    font-size: 1rem;
    color: var(oscuro);
    text-align: left;
}
.nombre {
    color: var(--principal);
    font-size: 1rem;
    font-weight: bold;
    text-align: justify;
    margin: 0.5px 0;
}
.tamano,
.material {
    color: var(oscuro);
    font-size: 0.9rem;
    color: var(oscuro);
    text-align: justify;
    margin: 0.5rem 0;
}
.precio {
    font-size: 0.8rem;
    font-weight: bold;
    color: var(oscuro);
    text-align: justify;
    text-align: justify;
    margin-top: 0.5rem;
}