* {
    margin: 0;
    padding: 0;
    font-family: Ghari;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
:root {
    --principal: #FF2D21;
    --oscuro: #2D3E40;
    --claro: #FDE6E2;
    --lila-claro: #BDB1BD;
    --gris-oscuro: #97a6a0;
    --azul-suave: #e4f2e7;
    --blanco: white;
    --casi-blanco: #F8f8f8;
}
@font-face {
    font-family: Ghari;
    src: url(../fonts/TwCenMTStdSemiMedium.otf);
    font-weight: normal;
}

@font-face {
    font-family: GhariBold;
    src: url(../fonts/TwCenMTStdBold.otf);
    font-weight: bold;
}

a:hover {
    cursor: pointer;
}


body {
    background-color: var(--blanco);
    font-size: 1rem;
}

main {
    background-color: var(--azul-suave);
}

nav {
    display: flex;
     /* flex-wrap: nowrap;  */
    justify-content: center;
    width: 100%;
    min-height: 5rem;
    background-color: var(--blanco);
    /* border: green solid 1px; */
    border-bottom: var(--principal) 3px solid;
}


/* #prenav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    min-height: 2rem;
    justify-content: center;
    background-color: var(--casi-blanco);
    color: var(--verde-azul);
    font-weight: bold;
} */

/* #navbar {
    background-color: var(--casi-blanco);
    width: 100%;
    border: green 2px solid;
} */

.div-date {
    width: 32%;
    text-align: left;
    
}

#time {
    /* border: green solid 1px; */
    width: 32%;
    text-align: center;
}   

#idiomanav {
    /* border: green solid 1px; */
    width: 20%;
    text-align: end;
    min-height: 1.5rem;
    display: flex;
    justify-content: end;
    align-items: center;

}


#logonav {
    display: flex;
    justify-content: center;
    /* border: yellow solid 2px; */
    align-items: center;
    width: 20%;
    text-align: center;
}

/*hamburger for tablet version*/
.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    }

 
#menu-container {
    display: none; /* Hidden by default */
    position: absolute;
    top: 5rem; /* Adjust to your navbar height */
    left: 0;
    width: 100%;
    background-color: var(--blanco);
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Show menu when hamburger-toggle is checked */
#hamburger-toggle:checked ~ #menu-container {
    display: flex;
}

/* Hide Checkbox */
#hamburger-toggle {
    display: none;
}

/* Menu Items */
#menuContent ul, #idiomaContent ul {
    display: none;
    gap: 1rem; 
     list-style: none;  
    margin: 0;
    padding: 0; 
}

#menuContent ul li, #idiomaContent ul li {
    padding: 0.5rem 1rem;
}

#menuContent ul li:hover {
    color: var(--principal);
}


#logonav img {
    height: 4rem;
}

#timenav {
    width: 15%;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    /* border: red solid 2px; */
}

#fecha {
    font-size: 1.2rem;
    color: var(--oscuro);
    width: 100%;

}

#hora {
    font-size: 3rem;
    color: var(--principal);
    width: 100%;

}

#funcionesnav {
    display: block;
    width: 15%;
}

#idiomanav {
    width: 100%;
}

#idiomanav ul li {
    display: inline;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#menunav {
    width: 50%;
    align-content: center;
    text-align: center;
    color: var(--oscuro);
    font-size: 1.2rem;
    font-family: Ghari;
}

#menunav ul li {
    display: inline; 
    padding-right: 3rem;
    padding-left: 3rem;
    /* font-weight: bold; */
    color: var(--azul-oscuro);
    transition: 0.3s;
}

#menunav ul li:hover{
    color: var(--principal);
}

#menunav a, #funcionesnav a {
    color: var(--azul-oscuro);
}

#menunav a:visited {
    color: var(--azul-oscuro);
}

#clientesnav {
    /* border: yellow solid 1px; */
    display: flex;
    min-height: 4rem;
    justify-content: center;
    align-items: center;

}
#clientesnav ul li {
    display: inline;
    justify-content: center;
    /* border: green solid 2px; */
    padding-left: 1rem;
    padding-right: 1rem;
}
#clientesnav ul {
    display: flex;
    justify-content: center;
}

#clientesnav ul li img {
    width: 25px;
    height: 25px;
}

.footer {
    background-color: var(--oscuro); 
    height: 40rem;
    width: 100%;
    color: var(--lila-claro);
    justify-content: center;
    display: block;

}
.titulo-footer {
    color: var(--principal);
}

#div-footer-logo {
    text-align: center;
}

#div-footer-logo img {
    height: 8rem;
    padding: 1rem;
}

#div-footer-columnas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.div-footer-columna {
    color: var(--verde-azul);
    /* padding-left: 4rem; */
    /* padding-right: 4rem; */
    font-size: large;
    flex: 1 1 200px;
    padding: 0.5rem;
    /* min-width: 200px; */
    box-sizing: border-box;
    text-align: center;
   
    
}

.div-footer-columna a {
    color: var(--verde-azul);
}

.div-footer-columna a:visited {
    color: var(--verde-azul);
}

.div-footer-columna h3 {
    height: 4rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

.div-footer-columna li {
    height: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

 #div-copyright {
    display: flex;
    justify-content: center;
    /* border: orange solid 2px; */
}

.copyright {
    display: flex;
    justify-content: center;
}

  
/* Tablet Styles */
@media  (max-width: 1280px) {
    .hamburger {
        display: flex;
        position: fixed;
        right: 90%;
        top: 30px;
        /* bottom: 30px; */
        z-index: 1000;
    }

      #menu-container { 
        top: 5rem; 
    
        width: 40%;
         gap: 0; 
         border-top: var(--principal) 2px solid;  
         z-index: 1; 
         height: 30rem;
         
         border: var(-lila-clara);
     }   

    #hamburger-toggle:checked + .hamburger + #menu-container {
        display: flex;
    }

    #menuContent ul  {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 1.20rem;
        
        
    }

    #idiomaContent ul{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        list-style: none;
        margin: 0;
        padding: 3rem;
        position: relative;
        right: 10rem;
        font-size: 1.20rem;
        
    }
    
    #menuContent ul li{
        text-align: center;
        width: 100%;
        border-right: 10%;

    }
    #idiomaContent ul li{
        width: 100%;
        
    }

    hr{
        width: 32rem;
        position: relative;
        border: var(--lila-claro) solid 0.1rem;
        
    }

    #logonav {
        display: flex;
        justify-content: center; 
         align-items: center; 
    width: 1000rem;
    margin-left: 8rem;
    
     }


    /* #funcionesnav ul li img {
        width: 25px;
        height: 25px; 
     } */

     #clientesnav ul li img {
        width: 25px;
        height: 25px;
        position: relative;
        top: 15px;
        }

    #idiomanav {
        display: none; 
    }

    
     #timenav{
         display: none; 
         position: relative;
         right: 9rem;
    } 
    #fech{
        font-size: 1rem;
        display: none;
    }
    #hora{
        font-size: 2rem;
    }
    #menunav{
        display: none;
    }

}





@media screen and  (max-width: 575px){


    #idiomanav {
        display: none; 
    }

    #menunav{
        display: none;
    }

    
    #timenav{
        display: none; 
   }


    #clientesnav ul li img {
        width: 20px;
        height: 20px;
        position: relative;
        top: 5px;
        right: 90%;
        justify-content: space-around;
    
    
        }

    .hamburger {
            display: flex;
            position: fixed;
            right: 80%;
            top: 30px;
            /* bottom: 30px; */
        font-size: 1.5rem;
        }
    
    #menu-container {
            display: none; 
            top: 5rem; 
            left: 0;
            width: 100%;
             gap: 0; 
             border-top: var(--principal) 10px solid; 
             z-index: 1; 
             height: 30rem;
         }   
    
    #hamburger-toggle:checked + .hamburger + #menu-container {
            display: flex;
        }
    
    #menuContent ul  {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            list-style: none;
            font-size: 1rem;
        }

    hr{width:36rem;}
    
    #idiomaContent ul{
            display: flex;
            flex-direction: row;
            list-style: none;
            position: relative;
            left: 0rem;
            padding: 50px;
            font-size: 1rem;
            
            
        }
    #menuContent ul li {
            text-align: center;
        
            
        
        }

    #idiomaContent ul li{

            display: flex;
            flex-direction: row;
        }

    #logonav {
            display: flex;
            justify-content: center; 
             align-items: center; 
        width: 100%;
        margin-left: 6rem;
        
         }


    #logonav img {
            height: 3rem;
        }

/*FOOTER*/
    .footer {
            height: 60rem;
            padding: 2rem 1rem;
        }
        
        
    .footer-columna {
            padding: 1rem 0;
            font-size: large;
            display: flex;
            flex-direction: column; 
        }
        
    .footer-columna-row {
            flex-direction: row;
            justify-content: space-between; 
        }
    .footer-columna-3{

         display: block;
         flex-direction: column;
        }
        
    .footer-columna-large {
            padding: 5rem 0; 
            font-size: medium;
        } 
        
       


}







