* {
    margin: 0;
    padding: 0;
    font-family: Ghari;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
:root {
    --principal: #FF2D21;
    --oscuro: #2D3E40;
    --claro: #FDE6E2;
    --lila-claro: #BDB1BD;
    --gris-oscuro: #97a6a0;
    --azul-suave: #e4f2e7;
    --blanco: white;
    --casi-blanco: #F8f8f8;
}
@font-face {
    font-family: Ghari;
    src: url(../fonts/TwCenMTStdSemiMedium.otf);
    font-weight: normal;
}

@font-face {
    font-family: GhariBold;
    src: url(../fonts/TwCenMTStdBold.otf);
    font-weight: bold;
}


body {
    background-color: var(--blanco);
    font-size: 1rem;
}

main {
    background-color: var(--azul-suave);
}

nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    min-height: 5rem;
    background-color: var(--blanco);
    /* border: green solid 1px; */
    border-bottom: var(--principal) 3px solid;
}


/* #prenav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    min-height: 2rem;
    justify-content: center;
    background-color: var(--casi-blanco);
    color: var(--verde-azul);
    font-weight: bold;
} */

/* #navbar {
    background-color: var(--casi-blanco);
    width: 100%;
    border: green 2px solid;
} */

.div-date {
    width: 32%;
    text-align: left;
}

#time {
    /* border: green solid 1px; */
    width: 32%;
    text-align: center;
}   

#idiomanav {
    /* border: green solid 1px; */
    width: 20%;
    text-align: end;
    min-height: 1.5rem;
    display: flex;
    justify-content: end;
    align-items: center;

}


#logonav {
    display: flex;
    justify-content: center;
    /* border: yellow solid 2px; */
    align-items: center;
    width: 20%;
    text-align: center;
}

#logonav img {
    height: 4rem;
}

#timenav {
    width: 15%;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    /* border: red solid 2px; */
}

#fecha {
    font-size: 1.2rem;
    color: var(--oscuro);
    width: 100%;

}

#hora {
    font-size: 2rem;
    color: var(--principal);
    width: 100%;

}

#funcionesnav {
    display: block;
    width: 15%;
}

#idiomanav {
    width: 100%;
}

#idiomanav ul li {
    display: inline;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#menunav {
    width: 50%;
    align-content: center;
    text-align: center;
    color: var(--oscuro);
    font-size: 1.2rem;
    font-family: Ghari;
}

#menunav ul li {
    display: inline;
    padding-right: 3rem;
    padding-left: 3rem;
    /* font-weight: bold; */
    color: var(--azul-oscuro);
}

#menunav a, #funcionesnav a {
    color: var(--azul-oscuro);
}

#menunav a:visited {
    color: var(--azul-oscuro);
}

#clientesnav {
    /* border: yellow solid 1px; */
    display: flex;
    min-height: 4rem;
    justify-content: center;
    align-items: center;

}
#clientesnav ul li {
    display: inline;
    justify-content: center;
    /* border: green solid 2px; */
    padding-left: 1rem;
    padding-right: 1rem;
}
#clientesnav ul {
    display: flex;
    justify-content: center;
}

#clientesnav ul li img {
    width: 25px;
    height: 25px;
}

.footer {
    background-color: var(--oscuro);
    height: 30rem;
    width: 100%;
    color: var(--lila-claro);

}
.titulo-footer {
    color: var(--principal);
}

#div-footer-logo {
    text-align: center;
}

#div-footer-logo img {
    height: 8rem;
    padding: 1rem;
}

#div-footer-columnas {
    display: flex;
    justify-content: center;
}

.div-footer-columna {
    color: var(--verde-azul);
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: large;
   
    
}

.div-footer-columna a {
    color: var(--verde-azul);
}

.div-footer-columna a:visited {
    color: var(--verde-azul);
}

.div-footer-columna h3 {
    height: 4rem;
    text-align: left;
    display: flex;
    align-items: center;
    font-weight: bolder;
}

.div-footer-columna li {
    height: 3rem;
    text-align: left;
    display: flex;
    align-items: center;
}

#div-copyright {
    display: flex;
    justify-content: center;
    /* border: orange solid 2px; */
}

.copyright {
    display: flex;
    justify-content: center;
}