main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center ;
    background-color: var(--blanco);
}
.product-container {
    display: flex;
    width: 80%;
}

.product-image {
    display: inline-block;
    flex-wrap: wrap;
    align-items: top;
    border: solid green 2px;
    width: 50%;
}

.product-image img {
    width: 30rem; 
    height: 30rem;
    object-fit: cover;
    min-width: 10rem
}
.additional-images {
    border: purple solid 2px;
    height: 10rem;
    width: 100%;
}
.additional-images img {
    width: 20px;
    height: 20px;
}



.product-details {
    grid-column: 2 / 3; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    gap: 20px; 
    background-color: var(--blanco);
    border: solid 1px red;
    padding: 2rem;
    width: 75%;
}

.product-details h1 {
    margin-bottom: 10px;
}

.precio {
    margin-bottom: 20px;
    color: black;
}

#contador-cantidad {
    display: flex;
    align-items: center;
    gap: 10px;
}

.boton {
    padding: 10px 20px;
    font-size: 1.2rem;
    border: black solid 0.1rem;
    background: none;
}

.add-to-cart {
    background-color: var(--principal);
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 20px;
    max-width: 15rem;
    border: none;
}


@media screen and (max-width: 1280px) {
    .product-container {
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto auto; 
    }

    .product-image img {
        width: 80%;
        height: auto;
    }

    .additional-images {
        flex-wrap: wrap; 
        justify-content: center;
    }

    .product-details {
        padding: 1rem;
    }
}
